{% for key, value in _context    %}
	<h5 class="cmb2-metabox-title">
		{{key}}
	</h5>


	{% if   function("gettype",value) == "string"  %}
		<div class='juvo_tooltip'>
			<span class='juvo_tooltiptext'>{{value}}</span>

			<a href='#' class='juvo_variable_badges' data-clipboard-text='&#123;&#123;{{key}}&#125;&#125;' >{{key}}</a>
			<span class='copied_tooltip'>copied</span>

		</div>
		<h1>{{ attribute(site, "sitename")}}</h1>

	{% elseif  function("gettype",value) == "object" %}

		{% for keyobject, valueobject in function("get_object_vars",value)  %}
			{% if function("gettype",valueobject) != "object" and function("gettype",valueobject) != "array" and valueobject != "" %}
				<div class='juvo_tooltip'>
					<span class='juvo_tooltiptext'>{{valueobject}}</span>
					<a href='#' class='juvo_variable_badges' data-clipboard-text='&#123;&#123;{{keyobject}}&#125;&#125;'>
						&#123;&#123;{{keyobject}}&#125;&#125;
					</a>
				<span class='copied_tooltip'>copied</span>

				</div>
			{% endif %}

		{% endfor %}


	{% elseif  function("gettype",value) == "array" %}

		{% for keyobject, valueobject in value  %}
			{% if function("gettype",valueobject) != "object" and function("gettype",valueobject) != "array" and valueobject != "" %}
				<div class='juvo_tooltip'>
					<span class='juvo_tooltiptext'>{{valueobject}}</span>

					<a href='#' class='juvo_variable_badges' data-clipboard-text='&#123;&#123;{{keyobject}}&#125;&#125;'>
						&#123;&#123;{{keyobject}}&#125;&#125;
					</a>
				<span class='copied_tooltip'>copied</span>

				</div>
			{% endif %}
		{% endfor %}


	{% endif %}


{% endfor %}
